<html>
<head>


</head>
<body>

<div class="field">
  <%= form_tag(search_index_path, method: "get") do %>

      <div class="container">
        <h2>Search filters for charts</h2>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Select Country</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse ">
              <div class="panel-body">
                  <div class="n4columns">
                <%= collection_check_boxes(:country_list,:country_name,Search.select("DISTINCT(country)").order('country ASC'),:country,:country) do |cb| %>
                    <li class="scroll"><a><%= cb.label {cb.check_box + cb.text} %></a></li>
                <% end %>
                  </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Select subjects</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="n2columns">
                <%= collection_check_boxes(:subject_list,:subject_name,Search.select("DISTINCT(subject_descriptor)").order('subject_descriptor ASC'),:subject_descriptor,:subject_descriptor) do |cb| %>
                    <li class="scroll"><a><%= cb.label {cb.check_box + cb.text} %></a></li>
                <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Select year range</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div class="panel-body">

                <%= hidden_field_tag(:amount )%>
                <div class="slider"></div>

              </div>
            </div>
          </div>

        </div>

      </div>

<div class="mouseAtMiddle">

      <button class="button" style="vertical-align:middle"><span> Search </span></button>

</div>


  <% end %>
</div>

<div class = "container">
  <% if (@chart != nil) %>
      <div class="intro-description">
        <h2>Scatter Plot View</h2>
        <%= high_chart("some_id", @chart) %>
        <br/><br/>
        <h2>Area Chart View</h2>
        <%= high_chart("some_id2", @chart2) %>
        <br/><br/>
        <h2>Combined Bar & Pie Chart View</h2>
        <%= high_chart("some_id3", @chart3) %>
        <%= high_chart("some_id4", @chart4) %>
        <br/><br/>
      </div>
  <% end %>

</div>
</div>
</body>



</html>